@charset "UTF-8";
body {
  font-family: 'Conv_bpg_dejavu_sans'; }

header .logo {
  text-align: center;
  margin: 10px auto; }
  header .logo img {
    padding: 30px; }

.main-container {
  height: calc(100vh - 170px);
  width: 81%;
  background: white;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: -120px;
  display: flex;
  align-items: center;
  padding: 80px;
  color: #0C4437; }
  .main-container .logo-background {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15px;
    left: calc(50% - 100px);
    z-index: -1;
    border-radius: 50%;
    background: white; }
  .main-container .title-section {
    width: 50%; }
    .main-container .title-section .text {
      padding: 10px 0 20px; }
    .main-container .title-section .fb-login a {
      color: #0C4437;
      font-size: 14px;
      border: 1px solid #0C4437;
      padding: 15px 20px;
      border-radius: 25px; }
      .main-container .title-section .fb-login a span {
        margin: 0 7px; }
  .main-container .image-section {
    margin: 0 auto; }
    .main-container .image-section img {
      width: 100%; }

footer {
  height: 150px;
  background: #ffcdd2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 50px;
  font-family: 'Conv_bpg_dejavu_sans'; }
  footer .footer-left {
    width: 30%; }
    footer .footer-left img {
      padding: 0 15px 10px 0; }
    footer .footer-left span {
      font-size: 14px; }
  footer .terms {
    display: flex;
    width: 30%;
    justify-content: space-around; }
    footer .terms .offices a {
      border: 1px solid #efabb2;
      padding: 10px 20px;
      border-radius: 25px;
      background: #ffdce0; }
      footer .terms .offices a img {
        padding-right: 10px; }
    footer .terms a {
      color: #3b3b3b; }
  footer .footer-right {
    width: 30%;
    text-align: end; }
    footer .footer-right img {
      margin-bottom: -15px; }
    footer .footer-right span {
      font-size: 10px;
      color: #3b3b3b;
      padding: 2px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

.main-title {
  font-size: 32px;
  font-family: 'Conv_bpg_dejavu_sans'; }

.title {
  font-size: 24px;
  font-family: 'Conv_bpg_dejavu_sans'; }

.text {
  font-size: 14px;
  font-family: 'Conv_bpg_dejavu_sans'; }

body {
  background: #E4E4E4; }

@font-face {
  font-family: 'Conv_bpg_dejavu_sans';
  src: url("../fonts/bpg_dejavu_sans.eot");
  src: local("☺"), url("../fonts/bpg_dejavu_sans.woff") format("woff"), url("fonts/bpg_dejavu_sans.ttf") format("truetype"), url("fonts/bpg_dejavu_sans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
*:focus {
  outline: none; }

ul,
h1,
h2,
h3,
h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.account-info {
  position: absolute;
  right: 40px;
  top: 35px;
  display: flex;
  align-items: center; }
  .account-info img {
    padding-right: 10px; }

/*# sourceMappingURL=main.css.map */
