@charset "UTF-8";
body {
  font-family: 'Conv_bpg_dejavu_sans';
  background-color: #F0F0F0; }

header .logo {
  text-align: center;
  margin: 10px auto; }
  header .logo img {
    padding: 30px; }

.main-container {
  height: calc(100vh - 208px);
  width: 80%;
  background: white;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: -120px;
  display: flex;
  align-items: center;
  padding: 80px;
  color: #0C4437;
  transform: translateY(30px); }
  .main-container .logo-background {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: calc(50% - 100px);
    z-index: 0;
    border-radius: 50%;
    background: #fff; }
  .main-container .title-section {
    width: 50%; }
    .main-container .title-section .text {
      padding: 10px 0 20px; }
    .main-container .title-section .fb-login a {
      color: #0C4437;
      font-size: 14px;
      border: 1px solid #0C4437;
      padding: 15px 20px;
      border-radius: 25px; }
      .main-container .title-section .fb-login a span {
        margin: 0 7px; }
  .main-container .image-section {
    margin: 0 auto; }
    .main-container .image-section img {
      width: 100%; }

footer {
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 50px;
  font-family: 'Conv_bpg_dejavu_sans';
  background-color: #EFABB2; }
  footer .footer-left img {
    padding: 0 15px 10px 0; }
  footer .footer-left span {
    font-size: 14px; }
  footer .terms {
    display: flex;
    justify-content: space-around; }
    footer .terms .offices a {
      border: 1px solid #efabb2;
      padding: 10px 20px;
      border-radius: 25px;
      background: #ffdce0; }
      footer .terms .offices a img {
        padding-right: 10px; }
    footer .terms a {
      color: #3b3b3b; }
  footer .footer-right {
    text-align: end; }
    footer .footer-right img {
      margin-bottom: -15px; }
    footer .footer-right span {
      font-size: 10px;
      color: #3b3b3b;
      padding: 2px; }

.modal-dialog {
  max-width: 770px !important;
  margin: 1.75rem auto; }

.modal-header {
  justify-content: center;
  border-bottom: unset;
  padding-top: 60px; }
  .modal-header h5 {
    font-family: 'Conv_bpg_dejavu_sans';
    font-size: 24px;
    color: #3B3B3B; }

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  position: absolute;
  top: 30px;
  right: 35px;
  color: #707070;
  outline: none; }
  .modal-header .close span:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border: 1px solid #707070;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%; }

.modal-body {
  padding: 10px 75px 70px; }
  .modal-body * {
    font-size: 16px; }
  .modal-body ul {
    padding-left: 20px; }
    .modal-body ul li {
      list-style-type: disc; }

#results {
  max-width: 1170px;
  margin: 0 auto 70px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 100px;
  border-radius: 10px;
  padding: 70px 100px 100px; }
  #results .title {
    color: #519862; }

header {
  position: relative;
  z-index: 3; }

.offices {
  margin-left: 30px; }

.product_fluid {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  .product_fluid .products_container {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    flex: 0 0 40%;
    background-color: #fff;
    max-width: 40%;
    position: relative;
    overflow: hidden; }
    .product_fluid .products_container #sale {
      background-color: #E23244;
      color: #fff;
      font-size: 14px;
      padding: 10px 36px;
      position: absolute;
      top: 24px;
      left: -38px;
      transform: rotate(-37deg); }
      .product_fluid .products_container #sale span {
        white-space: nowrap; }
    .product_fluid .products_container img {
      width: 90%;
      height: 300px;
      object-fit: contain; }

.product_top_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 40px; }
  .product_top_text span,
  .product_top_text p {
    color: #519657;
    font-size: 14px; }

.product_code {
  margin: 20px 0px 27px; }
  .product_code span {
    color: #707070;
    font-size: 10px; }
  .product_code .box {
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center; }
  .product_code #code {
    padding: 0 45px 0 20px; }
    .product_code #code input {
      font-size: 20px;
      color: #707070;
      cursor: default;
      max-width: 180px; }
  .product_code #copy {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #EBEBEB;
    padding: 9px 11px;
    cursor: pointer;
    position: relative; }
    .product_code #copy #copy_toolbar {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      background-color: #c0bfbf;
      cursor: default;
      font-size: 12px;
      padding: 3px 5px;
      white-space: nowrap;
      border-radius: 5px; }
      .product_code #copy #copy_toolbar:after {
        top: 100%;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #c0bfbf; }

#_hiddenCopyText_ {
  display: none; }

#copy_toolbar {
  display: none; }

#copy_toolbar.fade {
  animation: fade 2s linear;
  display: block !important; }

@keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#copy:active {
  transform: translateY(2px); }

#copy.pointer {
  pointer-events: none; }

@media only screen and (max-width: 992px) {
  .main-container {
    margin-top: -90px;
    flex-direction: column;
    height: unset;
    padding-top: 70px;
    width: 90%;
    padding: 40px; }
    .main-container .title-section {
      width: 100%;
      padding-top: 35px; }
    .main-container .image-section {
      margin-top: 40px; }
    .main-container .logo-background {
      z-index: -1;
      top: -30px; }

  #results {
    padding: 35px 10px 35px;
    margin: 70px 10px 20px; }

  .product_fluid {
    flex-direction: column;
    margin-top: 20px; }

  .product_fluid .products_container {
    flex: 0 0 100%;
    max-width: 100%; }

  .product_top_text {
    padding-left: 0;
    margin-top: 23px; }

  .title {
    font-size: 20px !important; }

  header .logo {
    margin-top: 20px; }

  header .logo img {
    padding: 10px;
    height: 70px; }

  .product_fluid .products_container img {
    width: 75%;
    height: 225px; }

  .product_code #code input {
    font-size: 17px;
    max-width: 137px; }

  .modal-body {
    padding: 10px 15px 70px; }

  footer .terms {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; }

  .offices {
    margin-left: 0;
    margin: 16px 0px 5px; }

  footer {
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .social-icons {
    text-align: center; } }
*,
*::before,
*::after {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

.main-title {
  font-size: 32px;
  font-family: 'Conv_bpg_dejavu_sans';
  text-align: center;
  color: #0C4437; }

.title {
  font-size: 24px;
  font-family: 'Conv_bpg_dejavu_sans'; }

input[type="radio"]:checked + label {
  background-color: #C8E6C9;
  border-radius: 15px;
  border: 1px solid #519657; }

.styled-checkbox {
  position: absolute;
  opacity: 0; }

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 40px;
  color: #1c1c1c;
  font-family: "BPG Banner LC Caps", sans-serif;
  font-weight: normal;
  font-size: 16px; }

.styled-checkbox + label:before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  background: #ffffff;
  border: 1px solid #b7b7b7;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%; }

.styled-checkbox:checked + label:after {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  background: #519657;
  border: 1px solid #519657;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translate(2px, -50%);
  transform: translate(2px, -50%);
  width: 13px;
  height: 13px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%; }

label {
  font-family: 'Conv_bpg_dejavu_sans' !important; }

.question-title {
  font-size: 24px;
  font-family: 'Conv_bpg_dejavu_sans';
  text-align: center;
  color: #34495E;
  width: 100%;
  background: #F9F9F9;
  border-radius: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 15px; }

.trasnparent-title {
  font-size: 24px;
  font-family: 'Conv_bpg_dejavu_sans';
  text-align: center;
  color: #34495E;
  width: 100%;
  border-radius: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px #EBEDEE; }

.text {
  font-size: 14px;
  font-family: 'Conv_bpg_dejavu_sans'; }

.background-img {
  height: 170px !important;
  background-image: url(../images/a-1.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img2 {
  height: 170px !important;
  background-image: url(../images/2.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img3 {
  height: 170px !important;
  background-image: url(../images/a1.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img4 {
  height: 170px !important;
  background-image: url(../images/a-10.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img5 {
  height: 170px !important;
  background-image: url(../images/Unticcfdtled-2.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img6 {
  height: 170px !important;
  background-image: url(../images/a-5.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img7 {
  height: 170px !important;
  background-image: url(../images/a-4.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img8 {
  height: 170px !important;
  background-image: url(/../images/a-3.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img9 {
  height: 170px !important;
  background-image: url(../images/a-2.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img10 {
  height: 170px !important;
  background-image: url(../images/a-8.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img11 {
  height: 170px !important;
  background-image: url(../images/a-7.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img12 {
  height: 170px !important;
  background-image: url(../images/a-6.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img13 {
  height: 170px !important;
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img14 {
  height: 170px !important;
  background-image: url(../images/14.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img15 {
  height: 170px !important;
  background-image: url(../images/15.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

.background-img16 {
  height: 170px !important;
  background-image: url(../images/16.png);
  border: unset !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #34495E;
  color: white !important; }

body {
  background: #E4E4E4; }

@font-face {
  font-family: 'Conv_bpg_dejavu_sans';
  src: url("../fonts/bpg_dejavu_sans.eot");
  src: local("☺"), url("../fonts/bpg_dejavu_sans.woff") format("woff"), url("fonts/bpg_dejavu_sans.ttf") format("truetype"), url("fonts/bpg_dejavu_sans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
*:focus {
  outline: none; }

ul,
h1,
h2,
h3,
h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.account-info {
  position: absolute;
  right: 40px;
  top: 35px;
  display: flex;
  align-items: center;
  z-index: 100; }
  .account-info button {
    font-size: 12px;
    background: white;
    border-radius: 15px;
    transition: .4s; }
    .account-info button:hover {
      opacity: .6; }
  .account-info .drop {
    cursor: pointer; }
    .account-info .drop img {
      width: 25px;
      margin-left: 5px; }
  .account-info img {
    padding-right: 10px; }

.quiz-container {
  width: 80%;
  background: white;
  margin: 0 auto 30px;
  border-radius: 15px;
  padding: 60px 0; }
  .quiz-container .pink-background {
    width: 35%;
    height: 60%;
    background: #ffcdd2;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -1; }
  .quiz-container .question-box {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 40px;
    position: relative; }
    .quiz-container .question-box .number {
      position: absolute;
      top: 50%;
      left: -90px;
      color: #707070; }
      .quiz-container .question-box .number .small {
        color: #C1C1C1 !important;
        font-size: 75%; }
  .quiz-container .last-form {
    border-bottom: unset !important; }
  .quiz-container .finish-button {
    text-align: center;
    transition: .3s; }
    .quiz-container .finish-button a {
      color: white;
      background: #519657;
      padding: 15px 80px;
      border-radius: 29px;
      box-shadow: 5px;
      box-shadow: 0px 3px #0C4437; }
      .quiz-container .finish-button a:hover {
        opacity: .6; }
  .quiz-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 10px; }
    .quiz-container form .answer {
      width: calc(50% - 15px);
      margin-bottom: 30px;
      min-height: 100px;
      display: flex;
      align-items: center; }
      .quiz-container form .answer label {
        border-radius: 15px;
        border: 1px solid #D9D9D9;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #34495E;
        padding: 10px 40px; }
        .quiz-container form .answer label:hover {
          background-color: #C8E6C9;
          border: 1px solid #519657; }
      .quiz-container form .answer input[type="radio"]:checked + label {
        background-color: #C8E6C9;
        border-radius: 15px;
        border: 1px solid #519657; }
  @media only screen and (max-width: 992px) {
    .quiz-container {
      width: 95%; }
      .quiz-container .pink-background {
        display: none; }
      .quiz-container .question-box {
        width: 80%; }
        .quiz-container .question-box .number {
          left: -65px; } }

@media only screen and (max-width: 768px) {
  .account-info {
    right: calc(50% - 90px);
    top: 95px; }

  .quiz-container {
    margin-top: 80px; }
    .quiz-container .question-box {
      margin-top: 20px; }
      .quiz-container .question-box .number {
        top: -30px;
        left: 45%; }
      .quiz-container .question-box form .answer {
        width: 100%; }
        .quiz-container .question-box form .answer .background-img,
        .quiz-container .question-box form .answer .background-img2,
        .quiz-container .question-box form .answer .background-img3,
        .quiz-container .question-box form .answer .background-img4,
        .quiz-container .question-box form .answer .background-img6,
        .quiz-container .question-box form .answer .background-img7,
        .quiz-container .question-box form .answer .background-img8,
        .quiz-container .question-box form .answer .background-img9,
        .quiz-container .question-box form .answer .background-img10,
        .quiz-container .question-box form .answer .background-img11,
        .quiz-container .question-box form .answer .background-img12,
        .quiz-container .question-box form .answer .background-img13 {
          height: unset !important;
          min-height: 100px; } }

/*# sourceMappingURL=main.css.map */
