header {

    .logo {
        background: unset;
        margin: 0 auto;
    }


    .account-info {
        position: absolute;
        right: 40px;
        top: 30px;
        display: flex;
        align-items: center;

        img {
            padding-right: 10px;
        }
    }
}